<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>LibraryManagement</display-name>
	<servlet>
		<servlet-name>SignupServlet</servlet-name>
		<display-name>SignupServlet</display-name>
		<description></description>
		<servlet-class>bat.example.SignupServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>bat.example.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookSearchServlet</servlet-name>
		<display-name>BookSearchServlet</display-name>
		<description></description>
		<servlet-class>bat.example.BookSearchServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>InsertBookServlet</servlet-name>
		<display-name>InsertBookServlet</display-name>
		<description></description>
		<servlet-class>bat.example.InsertBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IssueBookServlet</servlet-name>
		<display-name>IssueBookServlet</display-name>
		<description></description>
		<servlet-class>bat.example.IssueBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ReturnBookServlet</servlet-name>
		<display-name>ReturnBookServlet</display-name>
		<description></description>
		<servlet-class>bat.example.ReturnBookServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>StudentStatusServlet</servlet-name>
		<display-name>StudentStatusServlet</display-name>
		<description></description>
		<servlet-class>bat.example.StudentStatusServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BookStatusServlet</servlet-name>
		<display-name>BookStatusServlet</display-name>
		<description></description>
		<servlet-class>bat.example.BookStatusServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateLibrarianServlet</servlet-name>
		<display-name>UpdateLibrarianServlet</display-name>
		<description></description>
		<servlet-class>bat.example.UpdateLibrarianServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LogoutServlet</servlet-name>
		<display-name>LogoutServlet</display-name>
		<description></description>
		<servlet-class>bat.example.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<display-name>IndexServlet</display-name>
		<description></description>
		<servlet-class>bat.example.IndexServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SignupServlet</servlet-name>
		<url-pattern>/SignupServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookSearchServlet</servlet-name>
		<url-pattern>/BookSearchServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>InsertBookServlet</servlet-name>
		<url-pattern>/InsertBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IssueBookServlet</servlet-name>
		<url-pattern>/IssueBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ReturnBookServlet</servlet-name>
		<url-pattern>/ReturnBookServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>StudentStatusServlet</servlet-name>
		<url-pattern>/StudentStatusServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BookStatusServlet</servlet-name>
		<url-pattern>/BookStatusServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateLibrarianServlet</servlet-name>
		<url-pattern>/UpdateLibrarianServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/LogoutServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/IndexServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>IndexServlet
		</welcome-file>
	</welcome-file-list>
</web-app>
